@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-orange-pattern {
  background-image: 
    linear-gradient(rgba(189, 31, 23, 0.5), rgba(189, 31, 23, 0.3)), 
    linear-gradient(rgba(165, 29, 19, 0.5), rgba(165, 29, 19, 0.3)),
    linear-gradient(rgba(142, 27, 15, 0.5), rgba(142, 27, 15, 0.5)),
    url('assets/banner/banner.png');
  background-size: 100% 100%, 100% 100%, 100% 100%, 50px 50px; 
  background-repeat:repeat; 
  background-blend-mode: multiply;
  opacity: 0.9; 
}

